.app-container {
  height: 100vh; /* Set the height to 100% of the viewport height */
  display: flex;
  flex-direction: column; /* or row, depending on your layout */
  color: whitesmoke;
}

.header {
  text-align: center;
  background-color: black;
}

.toolbar {
  text-align: center;
  width: 20%;
  background-color: #17191e;
}

.flexbox-container {
  display: flex;
  flex-direction: row;
  background-color: #282c34;
  flex: 1;
}

.attribute-list {
  text-align: left;
  text-overflow: clip;
  list-style-type: none;
}
