.app-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: whitesmoke;
}

.header {
  height: fit-content;
  text-align: center;
  background-color: black;
  flex: 0;
}

.main-content {
  height: 80%;
  display: flex;
  flex-direction: row;
  background-color: #282c34;
  flex: 1;
}