.app-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: whitesmoke;
}

.header {
  text-align: center;
  background-color: black;
}

.main-content {
  display: flex;
  flex-direction: row;
  flex: 1;
  background-color: #282c34;
}